body {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  background-color: rgba(8, 7, 7, 0.884);
}
/*Text Style*/
p {
  font-weight: bold;
  color: rgba(250, 230, 115, 0.726);
}
li {
  padding-bottom: 0.5rem;
  color: white;
  font-size: 16px;
}

h2 {
  font-size: 40px;
  color: whitesmoke;
  margin-top: 0.5rem;
}
/*Style for Instructions*/
.instructions-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bginstructions.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
/*Cards Style*/
.card {
  width: 60px;
  height: 50px;
  display: inline-block;
  margin-left: 1rem;
}
#gameCasesEl {
  margin: 0 0.5rem;
  background-image: url(../images/bgcases.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.unchosen-case {
  display: none;
}

.chosen-case {
  display: block;
}

.players-case {
  visibility: hidden;
}

.selected-case {
  visibility: hidden;
}

/*Navigation Style*/
nav {
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: transparent;
  height: 8rem;
  background-image: url(../images/bgnav.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
#introA {
  margin: 2rem 3rem;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.signout-btn-game {
  height: 2rem;
  margin: 3rem 4rem;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
#gameTitle:hover,
#introA:hover,
.signout-btn-game:hover {
  opacity: 0.7;
}

#gameTitle {
  font-size: 70px;
  color: black;
  font-weight: bold;
  margin: 1.5rem;
  margin-left: auto;
}
/*Style for Money Amount Table*/
#moneyAmountTable {
  width: 200px;
}

[data-inplay="no"]{
  text-decoration: line-through;
}

/*Style for Deal, No Deal Buttons*/
[data-offer="no"] {
  pointer-events: none;
}

[data-offer="yes"] {
  pointer-events: auto;
}

/*Style for sign in and sign out btns on intro page*/
.signin-btn {
  width: 100px;
  height: 50px;
  background-color: rgba(255, 233, 110, 0.459);
  color: black;
  font-weight: bold;
}
.signin-btn:hover {
  font-weight: bolder;
  color: black;
  background-color: rgba(172, 172, 172, 0.842);
}
