body {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  background-color: rgba(8, 7, 7, 0.884);
}
/*Text Style*/
p {
  font-weight: bold;
  color: rgba(250, 230, 115, 0.726);
}

li {
  padding-bottom: 0.5rem;
  color: white;
  font-size: 16px;
}

h2 {
  font-size: 40px;
  color: whitesmoke;
  margin-top: 0.5rem;
}

/*Style for Instructions*/
.instructions-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(../images/bginstructions.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
/*Cards Style*/
.card {
  width: 60px;
  height: 50px;
  display: inline-block;
  margin-left: 0.5rem;
  background-image: url(../images/case.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  padding-top: 1rem;
  font-weight: bold;
}
.cards {
  padding-top: 5rem;
}
#gameCasesEl {
  margin: 0 0.5rem;
  background-image: url(../images/bgcases.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  height: 28rem;
}

.unchosen-case {
  display: none;
}

.chosen-case {
  display: block;
  margin: 0.5rem 4rem;
}

.players-case {
  visibility: hidden;
}

.selected-case {
  visibility: hidden;
}

/*Navigation Style*/
nav {
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: transparent;
  height: 8rem;
  background-image: url(../images/bgnav.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
#introBtn {
  height: 2rem;
  margin: 5.5rem 0.5rem;
  background-color: transparent;
  font-weight: bold;
  color: black;
  display: "none";
}
.introTxt {
  font-size: 20px;
  color: black;
}
.signout-btn-game {
  height: 2rem;
  margin: 5.5rem 0.5rem;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.pause-btn,
.resume-btn,
.stop-btn {
  height: 2rem;
  margin: 5.5rem 0.5rem;
  background-color: transparent;
  color: black;
}
.icon-resume,
.icon-pause,
.icon-stop {
  margin: -40px 0;
}
#icon {
  font-size: 18px;
}
#add-music {
  height: 2rem;
  margin: 5.5rem 0.5rem;
  background-color: transparent;
  color: black;
}
#music-input {
  height: 2rem;
  margin: 5.5rem 0.5rem;
  background-color: rgba(255, 248, 182, 0.712);
  display: block;
  color: black;
  width: 8rem;
}

#gameTitle:hover,
#introBtn:hover,
#add-music:hover,
.signout-btn-game:hover,
.pause-btn:hover,
.resume-btn:hover,
.stop-btn:hover {
  opacity: 0.7;
}

#gameTitle {
  font-size: 70px;
  color: black;
  font-weight: bold;
  margin: 1.5rem;
}

/*Style for Instructions*/
#instructions-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(../images/bginstructions.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  padding: 0 1rem;
}
/*Cards Element Style & Displayed Instructions*/

#gameCasesEl {
  margin: 0 0.5rem;
  background-image: url(../images/bgcases.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
#instructionsDisplayed {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5rem;
  border-style: ridge;
  margin-bottom: auto;
}
/*Style for Money Amount Table*/
#moneyAmountTable {
  width: 200px;
  background: linear-gradient(
    rgba(255, 212, 102, 0.9),
    rgb(255, 212, 102, 0.3)
  );
  font-weight: bold;
}

[data-inplay="no"] {
  text-decoration: line-through;
  color: red;
}

/*Style for Deal, No Deal Buttons*/
[data-offer="no"] {
  pointer-events: none;
}

[data-offer="yes"] {
  pointer-events: auto;
}

/*Style for sign in and sign out btns on intro page*/
.signin-btn,
.guest-btn {
  width: 100px;
  height: 50px;
  background-color: rgba(255, 233, 110, 0.459);
  color: black;
  font-weight: bold;
}
.signin-btn:hover,
.guest-btn:hover {
  cursor: pointer;
  font-weight: bolder;
  color: black;
  background-color: rgba(172, 172, 172, 0.842);
}

/*Style for banker info/your case column*/
.bankerInfo,
.stats,
.yourCase,
#stats-table-values {
  background: linear-gradient(
    rgba(255, 212, 102, 0.9),
    rgb(255, 212, 102, 0.3)
  );
  font-weight: bold;
}
#stats-btn {
  margin-bottom: 0.5rem;
  background-color: rgba(150, 146, 146, 0.835);
}
#deal-btn,
#no-deal-btn,
#saveWinnings {
  background-color: rgba(150, 146, 146, 0.835);
  margin-left: 0.5rem;
  margin: 0.5rem;
}
#deal-btn:hover,
#no-deal-btn:hover,
#stats-btn:hover,
#saveWinnings:hover {
  background-color: rgb(151, 132, 25);
}
/*Style for Display Instructions & save winnings btn*/
#infoDisplayed {
  color: white;
  font-weight: bold;
  border-style: ridge;
  border-color: darkred;
  margin-top: 1.5rem;
}
#saveWinnings {
  margin: 0rem 13rem;
  width: 10rem;
  font-size: 16px;
}
#name {
  width: auto;
  margin: 0.5rem 12rem;
}
#stats-table-values {
  padding: 0 1rem;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  #gameTitle {
    margin-top: 6rem;
    font-size: 25px;
    width: fit-content;
  }
  .card {
    margin: auto;
    width: 35px;
    height: 35px;
  }
  #moneyAmountTable {
    width: 200px;
    margin-top: 10rem;
  }
  #money-table {
    font-size: small;
    text-align: center;
  }
  nav {
    height: 150px;
  }
  .pause-btn,
  .resume-btn,
  .stop-btn {
    width: 30px;
    margin: 0 0.2rem;
  }
  #add-music {
    margin-top: 4rem;
  }
  .signout-btn-game,
  #introBtn {
    width: 70px;
    margin: 1rem;
    font-size: small;
  }
  #icon {
    font-size: 15px;
  }
  .introTxt {
    font-size: 10px;
  }
  #music-input {
    height: 1rem;
    margin: 1rem 0.4rem;
  }
  #name {
    margin: auto;
  }
  #saveWinnings {
    margin: 1rem 5rem;
    height: 2rem;
    width: 10rem;
  }
}


[data-offer-rank="excellent"] {
  color: lightskyblue;
}
[data-offer-rank="great"] {
  color: darkgreen;
}
[data-offer-rank="good"] {
  color: green;
}
[data-offer-rank="fair"] {
  color: greenyellow;
}
[data-offer-rank="mediocre"] {
  color: orange;
}
[data-offer-rank="bad"] {
  color: orangered;
}
[data-offer-rank="poor"] {
  color: red;
}
[data-offer-rank="awful"] {
  color: darkred;
}

